/* Styles for the entire LavaLamp menu */
html, body {
	margin:0px;	/* make sure no space b/w nav block and window*/
	padding:0px;
}
div#nav-block-div-mid{
	padding:0px; margin:0px;
	background: url("/static/img/bg2.gif");
    background-repeat:repeat-x repeat-y;
}
ul#menu {
	list-style: none;
	margin: 0 auto;
	position:relative;
	
    width: 40%;
    
    padding: 3px;
    overflow: hidden;
}

/* Force the list to flow horizontally */
ul#menu li {
	position: relative; /*allows us to set the z-index */
	float:right;
	z-index:5;
}

/* Represents the background of the highlighted menu-item. */
ul#menu li.backLava {
	position: absolute;
	z-index:3;
       background: url("/static/img/lava1.gif") top left;
    background-repeat:repeat-x;  
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; 
    border-radius: 5px;
    
}
   
/* Styles for each menu-item. */
ul#menu li a {
    position: relative; overflow: hidden;
    height: 40px; top: 12px; bottom:4px;
    z-index: 7;
    float: left; display: block;
    margin: auto 10px;
    
    text-decoration: none;
    letter-spacing: 0;
    text-transform: uppercase;
    font: bold 11px arial;
    color: #fff; outline: none;
    text-align: center;
}